/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  font-family: Roboto, sans-serif;
  font-weight: 100;
}

.glass {
  background: rgba(255, 255, 255, 0.27);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.8px);
  -webkit-backdrop-filter: blur(10.8px);
  border: 1px solid rgba(255, 255, 255, 1);
}

input {
  background: transparent;
  margin: 1rem;
  border-radius: 10px;
  text-align: center;
  border: 3px solid whitesmoke
}

/******************************************
/* LAYOUT
/*******************************************/

body {
  min-height: 100vh;
  background-image: url('../img/forestBG.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template: 1fr 85% 1fr / 1fr 1fr 50% 1fr;
  grid-gap: 1rem;
}

main {
  grid-area: 2 / 3 / 3 / 3;
  display: grid;
  grid-template: 1fr 8fr / 1fr;
  grid-gap: 1rem;
  overflow-y: auto;
}

.noteTitle {
  grid-area: 1 / 1 / 2 / 2;
  border-bottom: whitesmoke solid 3px;
}

.sidebar {
  grid-area: 2 / 2 / 3 / 3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
